/* Basic CSS for header elements */
.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 30px;
    font-style: normal;
}

* {
    max-width: 100%;
    box-sizing: border-box;

}


a {
    color: rgb(0, 0, 0)
}

a:hover {
    color: gold
}

body {
    line-height: 1;
    margin: 0 0;
    padding: 0;
    background-image: url(../assets/Wallpaper4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
}



h1 {
    font-family: 'Cinzel', arial, helvetica;
    overflow: hidden;
    letter-spacing: 2px;
    text-shadow: 4px 10px 10px rgba(186, 186, 186, 0.256);
    padding-left: 0%;
    vertical-align: baseline;
    margin: 0;
    text-align: center;
    border-color: rgb(255, 255, 255);
    background: linear-gradient(to right, #000000, #484848);
    border: 2px solid;
    border-style: solid;
    width: 100%;
    font-size: 300%;
    -webkit-text-stroke: .8px rgb(195, 9, 9);
    color: rgb(255, 255, 255);

}


h2 {

    font-family: 'Cinzel', arial, helvetica;
    overflow: hidden;
    letter-spacing: 2px;
    text-shadow: 10px 20px 10px rgba(0, 0, 0, 0.256);
    padding-left: 0%;

    vertical-align: baseline;
    margin-top: .5em;
    text-align: center;
    width: 100%;
    font-size: 3em;
    -webkit-text-stroke: .50px rgb(195, 9, 9);
    color: rgb(255, 255, 255);



}


.category-container h2 {
    margin-left: 5%;


}


/* Navigation */

.nav-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.525);
    border-color: black;
    border: 2px solid black;
    display: flex;
    color: #fff;
    padding: 5px;
}



.dropdownarrow {
    position: absolute;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    color: white;
    top: 100%;
    left: 49.8%;
    transform: translateX(-50%);
    width: 10;
    height: 10;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 8px solid #d1b814;
    cursor: pointer;
    z-index: 2;
    margin-left: .4%;
}

.dropdownarrow p {
    color: white;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: -3px;
    background-color: #313131bd;
    border-radius: 4px;
    border-style: groove;
    border-color: gold;

}
.dropdownmenu {
    text-align: center;
    font-size: 1.25em;
    overflow: hidden;
    position: relative;
    display: none;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #333;
    padding: .25%;
    z-index: 1;
    white-space: nowrap;
    border-radius: 20px;
}

.dropdownmenu a {
    display: inline-block;
    color: #b88e11;
    text-decoration: none;
    padding: 1% 0;
    z-index: 1;
    white-space: nowrap;
}


/* Dropdown animation */
.dropdownmenu.active {
    display: block;
    animation: slideDown 0.05s ease;
}

/* Nav Bar Animation */

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* main */

.column-container {
    column-count: 2;
    /* Divide content into two columns */
    column-gap: 5%;
    /* Set the gap between columns as a percentage */
    column-rule: 2px solid #000000;
    /* Define column rule */
    margin-left: 3%;

}

.category-container {
    break-inside: avoid-column;

}

/* Apply styles to the paragraphs within each category container */
.category-container p {

    margin-left: 41%;
    border: #000000;
    border-radius: 10px;
    border-style: solid;
    padding-left: 8%;
    background-color: rgb(31, 31, 31);
    color: rgb(226, 226, 226);
    width: 25%;
    text-align: center;
    /* Center-align the paragraphs */
    display: grid;
    /* Use grid layout for the paragraphs */
    grid-template-columns: repeat(2, 1fr);
    /* Two columns with equal width */
    grid-column-gap: 10px;
    /* Set the gap between columns in the grid */
}

.category-container img {
    max-width: 100%;
    width: 50%;
    margin-left: 27%;
}

.section {
    background-color: #333;

    margin-left: 3%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}


.section p {
    width: 45%;
    margin-left: 31%;
    padding-left: 15.25%;
    font-size: 1em;
    align-items: center;
    justify-items: center;

}



#Automatons {
    margin-left: -4%;
    margin-right: 13%;

}

.category-container .LABEL {
    width: 100%;
    padding-left: 38%;
    text-align: center;
    margin-left: 0%;
    color: gold;
    background-color: #0f0f0fd3;
    font-size: 1.25em;

}



#enemies {

    background-color: #242424;
    width: 25%;
    text-align: center;
    justify-content: center;
    margin-left: 37.5%;
    border-radius: 20px;
}








/* for small screens */
@media only screen and (max-width: 800px) {

    .cinzel {
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 30px;
        font-style: normal;
    }

    * {
        max-width: 100%;
        box-sizing: border-box;

    }


    a {
        color: rgb(0, 0, 0)
    }

    a:hover {
        color: gold
    }

    body {
        line-height: 1;
        margin: 0 0;
        padding: 0;
        background-image: url(../assets/Wallpaper4.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        max-width: 100%;
    }



    h1 {
        font-family: 'Cinzel', arial, helvetica;
        overflow: hidden;
        letter-spacing: 2px;
        text-shadow: 4px 10px 10px rgba(186, 186, 186, 0.256);
        padding-left: 0%;
        vertical-align: baseline;
        margin: 0;
        text-align: center;
        border-color: rgb(255, 255, 255);
        background: linear-gradient(to right, #000000, #484848);
        border: 2px solid;
        border-style: solid;
        width: 100%;
        font-size: 2em;
        -webkit-text-stroke: .8px rgb(195, 9, 9);
        color: rgb(255, 255, 255);

    }




    h2 {

        font-family: 'Cinzel', arial, helvetica;
        overflow: hidden;
        letter-spacing: 2px;
        text-shadow: 10px 20px 10px rgba(0, 0, 0, 0.256);

        margin-left: -1%;
        vertical-align: baseline;
        margin-top: .5em;
        text-align: center;


        width: 90%;
        font-size: 1em;
        -webkit-text-stroke: .25px rgb(195, 9, 9);
        color: rgb(255, 255, 255);

    }

    #enemies {
        margin-top: 5%;
        margin-left: 37%;
        background-color: #3f3f3f;
    }


    /* Navigation */

    .nav-container {
        position: relative;
        background-color: rgba(0, 0, 0, 0.525);
        border-color: black;
        border: 2px solid black;
        display: flex;
        color: #fff;
        padding: 5px;
    }



    .dropdownarrow {
        position: absolute;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
        color: white;
        top: 100%;
        left: 49.8%;
        transform: translateX(-50%);
        width: 10;
        height: 10;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 8px solid #d1b814;
        cursor: pointer;
        z-index: 2;
        margin-left: .4%;
    }

    .dropdownarrow p {
        color: white;
        padding: 0%;
        margin-top: 0%;
        margin-bottom: -3px;
        background-color: #313131bd;
        border-radius: 4px;
        border-style: groove;
        border-color: gold;

    }
    .dropdownmenu {
        text-align: center;
        font-size: .77em;
        overflow: hidden;
        position: relative;
        display: none;
        top: 100%;
        left: 50%;
        transform: translate(-56%, 0);
        background-color: #333;
        padding: .25%;
        z-index: 1;
        white-space: nowrap;
        border-radius: 20px;
    }

    .dropdownmenu a {
        display: inline-block;
        color: #b88e11;
        text-decoration: none;
        padding: 1% 0;
        z-index: 1;
        white-space: nowrap;
    }


    /* Dropdown animation */
    .dropdownmenu.active {
        display: block;
        animation: slideDown 0.05s ease;
    }

    /* Nav Bar Animation */

    @keyframes slideDown {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }


    /* main */

    .column-container {
        column-count: 1;
        /* Divide content into two columns */
        column-gap: 5%;
        /* Set the gap between columns as a percentage */
        column-rule: 2px solid #000000;
        /* Define column rule */
        margin-left: 2%;

    }

    .category-container {
        break-inside: avoid-column;
        margin-left: 0%;
    }

    /* Apply styles to the paragraphs within each category container */
    .category-container p {
        border: #000000;
        border-radius: 10px;
        border-style: solid;
        background-color: rgb(31, 31, 31);
        color: rgb(226, 226, 226);
    }

    .category-container img {
        width: 50%;
        margin-left: 27%;
    }

    .section {
        background-color: #333;
        width: 90%;
        margin-left: 3%;
        border-radius: 30PX;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }

    .section p {
        width: 60%;
        margin-left: 18%;

        text-align: center;
        align-items: center;
        justify-items: center;
        padding-left: 14.5%;
        font-size: 1em;
    }


    .section p.LABEL {
        width: 110%;
        color: gold;
        background-color: #0f0f0fd3;
        font-size: 1em;
        padding-left: 35%;
        padding-right: -100%;
        text-align: left;
        margin-left: -2%;
    }







}