body {
    background-color: rgb(222, 219, 219);
    line-height: 1;
    margin: 0 0;
    padding: 0;
    background-image: url(../assets/announcement/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



h1 {
    font-family: cinzel, arial, helvetica;
    overflow: auto;
    letter-spacing: 2px;
    text-shadow: 4px 10px 10px rgba(186, 186, 186, 0.256);
    padding-left: 0%;
    vertical-align: baseline;
    margin: 0;
    text-align: center;
    border-color: rgb(255, 255, 255);
    background: linear-gradient(to right, #000000, #484848);
    border: 2px solid;
    border-style: solid;
    width: 100%;
    font-size: 300%;
    -webkit-text-stroke: .8px rgb(195, 9, 9);
    color: rgb(255, 255, 255);

}

.nav-container {
    position: relative;
    background-color: #ed0606c2;
    border-color: black;
    border: 2px solid black;
    color: #fff;
    padding: 5px;
}

.dropdownarrow {
    position: absolute;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    color: white;
    top: 100%;
    left: 49.8%;
    transform: translateX(-50%);
    width: 10;
    height: 10;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 8px solid #d1b814;
    cursor: pointer;
    z-index: 2;
}

.dropdownmenu {
    text-align: center;
    font-size: large;
    position: absolute;
    display: none;
    top: 100%;
    left: 38%;
    width: 23%;
    transform: translateY(0%);
    background-color: #333;
    padding: 10px;
    z-index: 1;
    white-space: nowrap;
}

.dropdownmenu a {
    display: inline-block;
    color: #b88e11;
    text-decoration: none;
    padding: 5px 0;
    z-index: 1;
    white-space: nowrap;
}

/* Dropdown animation */
.dropdownmenu.active {
    display: block;
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}





.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5%;
}

.card {
    perspective: 1000px;
    /* Add perspective for 3D effect */


}

.card-inner {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 150%;
    /* Maintain aspect ratio */
    padding-bottom: 75%;
    transform-style: preserve-3d;
    /* Maintain 3D effect */
    transition: transform .5s;
    /* Add transition for smooth flip */
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    /* Flip on hover */
}

.card-front,
.card-back {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 95%;
    backface-visibility: hidden;
    /* Hide backface during flip */
    margin-top: -550px;
}

.card-front {
    background-color: #ffffff65;
    /* Front side background */
    height: 65%;
}

.card-back {
    height: 85%;
    background-color: #ffffff4c;
    /* Back side background */
    transform: rotateY(180deg);
    /* Initially hidden */
}

img {
    width: 80%;
  
    object-fit: cover;
}